# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     lord-of-universe.com
    database_port:     ~
    database_name:     labonnepression
    database_user:     odysseus
    database_password: odysseus
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            LdDOO48sDgh498-4598425DleTF
    google_api:
        search_nav:  AIzaSyCHH_voJKmwP8ZxxNMjHilkTNaHr3pYvR8
    oauth.facebook.id: '1041076362613846'
    oauth.facebook.secret: 8ff44f49862c9e9c18a2014c5baadc3e
    oauth.twitter.id: 'Z9GnaZPV4hOLfBeu2qDAtGZzh'
    oauth.twitter.secret:   OlcMaT8mSTeSrz6xHPnPVriR1DWEcGVgUs9iIsPan7lIUtAW9I
    oauth.google.id: '834109579855-u51u9urbo1ke2614cqv6i17en0hl091f.apps.googleusercontent.com'
    oauth.google.secret: ZFBpp4jqwFTdDvymVgMGGQQw