{% extends 'FrontBundle:Layout:skeleton.html.twig' %}

{% block title %}Créer un compte{% endblock %}


{% block bodyClass %}register-page{% endblock %}

{% block container %}

    <h2 class="location">
        Créer un  compte
    </h2>

    <div class="row btn-network-group row-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-xs-4">
                    <a class="btn btn-facebook btn-block">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-twitter btn-block">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-google btn-block">
                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>

{% endblock %}