
$header-height: 55px;
$header-line-height: 52px;


body{
  font-weight: 400;
}

.header{
  background: $brand-primary;
  width: 100%;
  min-height: $header-height;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 50;


  box-shadow:  0px 0px 5px rgba($dark, 0.6);

  .logo{
    img{
      height: 44px;
      margin-top: -1px;
    }
    line-height: $header-line-height;
    color: $brand-light;
    font-size: 1.6em;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px $brand-warning;
  }

  .menu-account{
    text-align: right;
    line-height: $header-line-height;
    .btn {
      color: $brand-light;
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }
}

.subheader{
  min-height: 580px;
  background: url(../bundles/front/images/heroBeer.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;

  .slogan{
    text-align: center;
    font-size: 2.6em;
    line-height: 1em;
    top: 50%;
    position: absolute;
    left: 50%;
    width: 800px;
    margin-top: -2em;
    margin-left: -400px;
    text-align: center;
    color: $brand-light;
    text-shadow: 1px 1px 5px rgba($dark, 0.9);
    letter-spacing: 3px;
  }

  .search{
    height: 120px;
    background: rgba($dark, 0.7);
    position: absolute;
    bottom: 0px;
    width: 100%;

    .select2-container{
      line-height: 36px;
      .select2-selection__rendered{
        line-height: 36px;
      }
      .select2-selection__arrow{
        display: none;
      }
      .select2-selection{
        min-height: 40px;
        border-radius: 0px;
      }
    }

    .input-group-btn{
      button.dropdown-toggle{
        min-height: 40px;
      }
    }

    form{
      margin-top: 18px;
      label{
        color: $brand-light;
        font-size: 1.1em;
        letter-spacing: 1px;
      }
      .form-control{
        max-height: 40px;
        border-radius: 0px;
      }
      .btn-bg{
        height: 40px;
        margin-top: 32px;
      }
      .btn-search{
        text-transform: uppercase;
      }
    }
  }

}

.location{
  margin-top: 50px;
  margin-bottom: 20px;
  color: $gray-light;
  width: 40%;
  margin: 60px auto;
  text-align: center;
  padding: 14px 0;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nbr-bar{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;

  color: $brand-light;
  text-shadow: 1px 1px 3px rgba($dark, 0.9);
  letter-spacing: 3px;
  font-size: 1.3em;
  margin-top: -0.65em;
  z-index: 6;


  .rating {
    width: 60px;
    margin: 0 auto;
    overflow: hidden;

    .subrating{
      width: 60px;
    }

    .fa-star{
      padding: 0 2px;
      font-size: 12px;
      width: 12px;
      float: left;
      color: $brand-primary;
      text-shadow: none;
    }
  }

  .nbr-rating{
    font-size: .5em;
  }
}

.card-location{

  margin-bottom: 30px;

  .img-card{
    position: relative;
    img{
      max-width: 100%;
    }

    .card-img-overlay{
      position: absolute;
      z-index: 5;
      background: rgba($dark, 0.5);
    }

  }

  h4{
    width: 100%;
    height: 28px;
    background: rgba($dark, 0.7);
    color: $brand-light;
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 28px;
    margin: 0;
    padding: 0;
  }
}

.cities{

  text-align: center;

  .card{
    margin-bottom: 30px;

    .city-title{
      background: $brand-light;
      h4{
        color: $brand-primary;
      }
      .nbr-rating{
        color: $gray-dark;
      }
    }

    .nbr-bar{
      text-shadow: none;
      position: relative;
      color: $gray-dark;
    }

  }

  .list-group-item{
    padding: 3px;
    border: none;
    a{
      color: $gray-light
    }
  }

}